body {
  background-color: papayawhip;
}
h1 {
  color: hotpink;
  text-align: center;
}
.lista{
    display: grid;
}
.lista ul {
  background: skyblue;
  border: 1px solid coral;
  list-style: none;
}
.lista ul li{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
